.pet_select_container {
  background: var(--main-background-color);
  height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3.5rem;
}
.pet_select_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10vw;
}
.selected_pet_picture {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  margin-right: 20px;
}
.events_title {
  margin-top: 20px;
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  font-weight: bolder;
}
.events_options {
  display: flex;
  margin: 0.5rem 0 0.5rem 0;
}
.events_options_selected {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem 1rem 0.3rem 1rem;
  background-color: var(--blue);
  border-radius: 2rem;
  cursor: pointer;
}
.events_options_not_selected {
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-text-color);
  padding: 0.3rem 1rem 0.3rem 1rem;
  cursor: pointer;
}
.add_event {
  position: absolute;
  right: 5vw;
  bottom: 0;
  cursor: pointer;
}
