.pet_list_card {
  max-height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--secondary-background-color);
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.pet_picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
}
.pet_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.pet_card_name {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}
.pet_card_birthDate {
  font-size: 0.9rem;
  font-weight: bolder;
  color: var(--secondary-text-color);
  margin-top: 0.2em;
}
