.options_container {
  background: var(--main-background-color);
  height: 100vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.options_title {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 6rem;
  align-self: flex-start;
}
.signout_button {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--red);
  border: none;
  width: 10rem;
  height: 2.5rem;
  margin-top: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  align-self: center;
}
